name: Coverage

on:
    push:
        branches:
            - master

jobs:
    psalm:
        name: psalm
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v2

            -   name: Setup PHP with PCOV
                uses: shivammathur/setup-php@v2
                with:
                    php-version: '7.4'
                    extensions: dom, curl, libxml, mbstring, zip, pcntl, pdo, sqlite, pdo_sqlite, bcmath, soap, intl, gd, exif, iconv, imagick
                    coverage: pcov

            - name: Cache composer dependencies
              uses: actions/cache@v1
              with:
                  path: vendor
                  key: composer-${{ hashFiles('composer.lock') }}

            - name: Run composer install
              run: composer install -n --prefer-dist

            - name: Install Ocular
              run: wget https://scrutinizer-ci.com/ocular.phar

            - name: Execute tests
              run: vendor/bin/phpunit --coverage-text --coverage-clover=coverage.clover

            - name: Upload Coverage
              run: php ocular.phar code-coverage:upload --format=php-clover coverage.clover
