name: run-tests

on:
    push:
    pull_request:
        branches: [main]

jobs:
    test:
        runs-on: ${{ matrix.os }}
        strategy:
            fail-fast: false
            matrix:
                os: [ubuntu-latest, windows-latest]
                php: [8.2, 8.1, 8.0]
                laravel: [9.*]
                dependencies: [lowest, stable]
                include:
                    -   laravel: 9.*
                        testbench: ^7.0
                    -   php: 8.2
                        dependencies: lowest
                        carbon: ^2.62.1

        name: P${{ matrix.php }} - L${{ matrix.laravel }} - ${{ matrix.dependencies }} - ${{ matrix.os }}

        steps:
            - name: Checkout code
              uses: actions/checkout@v2

            - name: Setup PHP
              uses: shivammathur/setup-php@v2
              with:
                  php-version: ${{ matrix.php }}
                  extensions: dom, curl, libxml, mbstring, zip, pcntl, pdo, sqlite, pdo_sqlite, bcmath, soap, intl, gd, exif, iconv, imagick, fileinfo
                  coverage: none

            - name: Setup problem matchers
              run: |
                  echo "::add-matcher::${{ runner.tool_cache }}/php.json"
                  echo "::add-matcher::${{ runner.tool_cache }}/phpunit.json"

            - name: Require Laravel Version
              run: >
                  composer require
                  "laravel/framework:${{ matrix.laravel }}" "orchestra/testbench:${{ matrix.testbench }}"
                  --no-interaction --no-update

            - name: Require Minimum Packages for version
              if: ${{ matrix.php == '8.2' && matrix.dependencies == 'lowest' }}
              run: >
                  composer require
                  "nesbot/carbon:${{ matrix.carbon }}"
                  --no-interaction --no-update

            - name: Install dependencies
              uses: ramsey/composer-install@v2
              with:
                  dependency-versions: ${{ matrix.dependencies }}
                  composer-options: ${{ matrix.composer-options }}

            - name: Execute tests
              run: vendor/bin/pest
